<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Visualizar Clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cliente</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center" >
        {% comment %} <a href="/" class="btn btn-info">Voltar</a> {% endcomment %}
        <input type="submit" class="btn btn-info" onclick="location.href = '{% url 'exemplo:list' %}'" value="Voltar">
    </div>

    <div class="col-2 m-auto pt-4 pb-2 text-center">

        Nome: {{ object.nome }}   
        <br />
        Idade: {{ object.idade }}   
      
    </div>

  </body>
</html>